@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

header {
  background-color: $color-primary-dark;
  padding: $spacing-md 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  @include shadow-light;

  nav {
    @include flex-between;
    padding: 0 $spacing-lg;

    .navbar-brand {
      font-size: 22px;
      font-weight: 700;
      color: $color-bg-light;

      &:hover {
        color: $color-secondary;
      }
    }

    .nav-link {
      color: $color-bg-light !important;
      font-weight: 500;
      margin-left: $spacing-lg;
      transition: $transition-base;

      &:hover {
        color: $color-secondary !important;
      }
    }
  }
}
