@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

main {
  min-height: calc(100vh - 200px);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacing-lg;
}

section {
  padding: $spacing-xl $spacing-lg;
}